body { 
  font-family: Sans-Serif;
}

th {
  font-size: large;
  text-align: right;
}

td {
  text-align: right;
}

tr.bordered td {
  border-bottom: 2px solid #000;
}

col.divide { background: #383838; }

tr.splits:nth-child(even) { background: #CCC; }

th.bordered {
  border-bottom: 2px solid #000;
}

.blank {
  height: 25px;
}
