. { 
  font-family: "Times New Roman", Times, serif;
}

th {
  font-size: large;
  text-align: right;
}

td {
  text-align: right;
}

tr.bordered td {
  border-bottom: 2px solid #000;
}

th.bordered {
  border-bottom: 2px solid #000;
}

.blank {
  height: 25px;
}
